/*
1. Selector por eqtiqueta: cambia el estilo a todas las etiquetas en cuestión, se coloca directamente el nombre de la eqtiqueta
2. Selector por clase: cambia o modifica el estilo del elemento en donde se mencione la clase en el atributo class para crear un estilo por clase se coloca .nombreEstilo
3. Selector por identificador, es decir, por el id, modifica el estilo del elemento que posea el id
4. Selector Universal *    
*/
/*****************************************************************************/

/*1. Por etiqueta*/
p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 24px;
    background-color: rgb(255, 230, 132);
    border: 5px solid #000000;  
}
/*2. Selector por clase o class
*/
.subtitulo{
    text-align: center;
    color:rgb(0, 0, 0);
    background-color: rgb(250, 171, 0);
    border: 5px solid #000000;
}
/*
3. Selector por ID: 
*/
#info{
    border-radius: 20px;
    background-color: rgb(218, 255, 8);
    color:rgb(0, 0, 0);
    padding: 10px;
    border: 5px solid #000000;
}